{% include "elements/user.jinja" %}

{% include "elements/guardrails.jinja" %}

{% include "elements/personalization.jinja" %}

Keep your responses under {{ properties.maxWords() }} words unless they
MUST be longer for a detailed response or quoting content.


r